name: Reusable workflow to run container tests
on:
  workflow_call:
    inputs:
      ref:
        description: The commit, SHA or branch to use in this repository.
        required: false
        type: string
        default: main
      image:
        description: The full image name to test.
        required: false
        default: "ghcr.io/fluentdo/agent"
        type: string
      image-tag:
        description: The image tag to test.
        required: true
        type: string
      kind-version:
        description: The version of kind to use for the tests.
        required: true
        type: string
    secrets:
      github-token:
        description: Token to use to pull images from GitHub Container Registry.
        required: true
jobs:
  test-containers:
    name: Test K8S version ${{ inputs.kind-version }} with ${{ inputs.image }}:${{ inputs.image-tag }}
    runs-on: ubuntu-latest
    env:
      FLUENTDO_AGENT_IMAGE: ${{ inputs.image }}
      FLUENTDO_AGENT_TAG: ${{ inputs.image-tag }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          repository: FluentDo/agent
          ref: ${{ inputs.ref || github.ref }}
          token: ${{ secrets.github-token }}

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.github-token }}

      - name: Set up Helm
        uses: azure/setup-helm@v4

      - name: Set up Kubectl
        uses: azure/setup-kubectl@v4

      - name: Create k8s Kind Cluster
        uses: helm/kind-action@v1
        with:
          node_image: kindest/node:${{ inputs.kind-version }}

      - name: Install BATS
        uses: bats-core/bats-action@3.0.1
        with:
          assert-install: false
          detik-install: false
          file-install: false
          support-install: false

      - name: Load image
        run: kind load docker-image "${FLUENTDO_AGENT_IMAGE}:${FLUENTDO_AGENT_TAG}"

      - name: Run integration tests
        run: ./testing/bats/run-bats.sh --filter-tags integration,k8s --recursive "$PWD/testing/bats/tests"
        shell: bash

      # Debugging steps to run if something goes wrong
      - name: Debug - List all pods
        if: always()
        run: kubectl get pods -A
        shell: bash

      - name: Debug - Describe pods
        if: always()
        run: kubectl describe pods -A
        shell: bash
