name: Run unit tests
on:
    push:
        branches:
            - main
            - "releases/**"
    pull_request:
        branches:
            - main
            - "releases/**"
        paths:
            - "source/**"
            - ".github/workflows/unit-tests.yaml"
    workflow_dispatch:
        inputs:
            ref:
                description: "The git reference to checkout"
                required: false
                type: string
                default: "main"

jobs:
    linux-unit-tests:
        name: Run unit tests
        runs-on: namespace-profile-ubuntu-latest
        timeout-minutes: 15
        steps:
            - name: Checkout code
              uses: actions/checkout@v5
              with:
                  ref: ${{ github.event.inputs.ref || github.ref }}

            - name: Setup environment
              run: |
                  sudo apt-get update
                  sudo apt-get install -y libsystemd-dev gcovr libyaml-dev libbpf-dev linux-tools-common
              shell: bash

            - name: Install cmake
              uses: jwlawson/actions-setup-cmake@v2
              with:
                  cmake-version: "3.31.6"

            - name: Verify toolchain versions
              run: |
                  git --version
                  gcc --version
                  g++ --version
                  cmake --version

                  mkdir -p source/build
              shell: bash

            - name: Configure tests
              uses: threeal/cmake-action@v2.1.0
              with:
                  source-dir: source
                  build-dir: source/build
                  options: |
                    CMAKE_BUILD_TYPE=Debug
                    FLUENTDO_AGENT_TESTS=On
                    FLB_TESTS_INTERNAL=On
                    FLB_TESTS_RUNTIME=On
                    FLB_BACKTRACE=Off
                    FLB_SHARED_LIB=Off
                    FLB_SANITIZE_ADDRESS=On
                    FLB_SANITIZE_UNDEFINED=On
                    FLB_COVERAGE=On
                    FLB_SANITIZE_MEMORY=On
                    FLB_SANITIZE_THREAD=On
                  run-build: false

            - name: Build tests
              run: |
                  make -j $(getconf _NPROCESSORS_ONLN)
              working-directory: source/build

            - name: Run tests
              run: |
                  ctest -j $(getconf _NPROCESSORS_ONLN) --build-run-dir "$PWD" --output-on-failure
              working-directory: source/build

            - name: Check Test Coverage
              if: always()
              uses: threeal/gcovr-action@v1.2.0
              with:
                  html-out: coverage.html
                  html-details: true
                  html-title: FluentDo Agent Test Coverage Report
                  html-theme: github.green

                  xml-out: cobertura.xml

                  coveralls-out: coveralls.json

                  json-out: coverage.json
                  json-pretty: true

                  json-summary-out: coverage-summary.json
                  json-summary-pretty: true

                  txt-out: coverage.txt

                  print-summary: true
                  coveralls-send: true
                  #   decisions: true
                  #   calls: true
                  jobs: true
                  working-directory: source/build
                  root: source/

            - name: Upload coverage reports
              if: always()
              uses: actions/upload-artifact@v4
              with:
                  name: coverage-reports
                  path: |
                      source/build/coverage.html
                      source/build/cobertura.xml
                      source/build/coveralls.json
                      source/build/coverage.json
                      source/build/coverage-summary.json
                      source/build/coverage.txt
                  if-no-files-found: error

    # Placeholder to make it simple to create a status check on this, do not change name.
    # Instead of modifying branch protection rules every time we add a new job, we just
    # add it as a dependency of this job.
    # This job must always run last so it depends on all other jobs that must complete.
    # Note that jobs that are conditionally run (e.g. not on PRs) must be excluded here.
    # If you add a new job that must complete then add it here.
    tests-complete:
        name: All unit tests complete
        # We use this to always run even if a previous job fails or is skipped (which we check for)
        if: always()
        needs:
            - linux-unit-tests

        # Add additional jobs here as required that must complete
        runs-on: ubuntu-latest
        steps:
            - name: Decide whether the needed jobs succeeded or failed
              uses: re-actors/alls-green@release/v1
              with:
                  # Add any jobs that can be skipped here to avoid failure of this job
                  # allowed-skips: build-linux,build-windows
                  # Convert the needs object to JSON to pass it in
                  jobs: ${{ toJSON(needs) }}

            - name: All tests complete
              run: echo "All unit tests complete"
              shell: bash
